einops
kornia>=0.5.4
numpy
tqdm
aim
fire
retry
lpips
torch
torchvision
pillow
pytorch-fid
geomstats
matplotlib
scipy
scikit-learn
networkx
pyexpat
contrastive_learner>=0.1.0
vector-quantize-pytorch==0.1.0

pandas==1.2.0
pyro-ppl==1.5.1